:root {
  --bg-post: rgba(255, 255, 255, 0.85);
  --text-dark: #1e1e1e;
  --accent: #b07937;
  --border-color: #d9d9d9;
  --shadow-color: rgba(0, 0, 0, 0.2);
	--cor-tema: #3b0912;
	--verde-whatsapp: #25D366;
}
*{
  text-align: left;
}
#navbar {
  position: relative; /* dá contexto para o UL */
}
a {
  color: #3b0912;
  text-decoration: underline;
}

#main-content {
  color: var(--text-dark);
  padding: 2rem 1rem;
}

#main-content strong{
  font-weight: bold;
}

.blog-post {
  max-width: 900px;
  margin: 0 auto;
  padding: clamp(1rem, 4vw, 2rem);
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-post);
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--shadow-color);
  border: 1px solid var(--accent);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.blog-post h1 {
  font-size: 1.5em;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.3;
}

.blog-post .author {
  font-style: italic;
  margin-bottom: 1.5rem;
  color: #444;
  font-size: 0.95rem;
}

.blog-post section {
  margin-bottom: 2.2rem;
}

.blog-post h2 {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: left;
  gap: 0.5rem;
  font-weight: 600;
}

.blog-post ul,
.blog-post ol {
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

.blog-post ul li,
.blog-post ol li {
  margin-bottom: 0.6rem;
}

.blog-post footer {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #666;
  text-align: center;
  border-top: 1px dashed #bbb;
  padding-top: 1rem;
}

blockquote {
  margin: 1.5rem 0;
  padding-left: 1.5rem;
  border-left: 4px solid var(--cor-tema);

}

ol {
  list-style: decimal;
  margin-left: 20px;
  font-weight: b;
}
ol li::marker {
  font-weight: bold;
}
ul {
  list-style: disc;
  margin-left: 20px;
}

a#whatsapp-icon {
  color: white;
}

@media (max-width: 600px) {
  .blog-post {
    padding: 1.5rem 1rem;
  }

  .blog-post h2 {
    font-size: 1.2rem;
  }
}
